#app {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

#header {
  grid-area: header;
  justify-content: center;
  align-content: center;
  color: white;
}

#content {
  grid-area: content;
}

#footer {
  grid-area: footer;
  background: var(--dark);
}

#footer-links > a {
  flex: 0 0 5%;
}
